ul {
list-style-type: none;
margin: 0;
padding: 0;
}
/*we remove tha bulets from tha list, and its default padding and margin.
list-style-type: none; - Removes the bullets. A navigation bar does not need list markers
Set margin: 0; and padding: 0; to remove browser default settings
*/
li a {
    display: block;
    width: 60px;
    background-color: #dddddd;
}

  /* A background color is added to the links to show the link area.
    Link area is clickable, not just the text.
    */